.skill-skills{
    color:  white;
    margin-top: 5%;
}
.h{
    /* width: 45%; */
    height: 50%;
    margin-right: 10%;
}

.i{
    /* width: 40%; */
    height: 50%;
    margin-right: 10%;
}

.j{
    /* width: 30%; */
    height: 50%;
    margin-right: 10%;
}

.k{
    /* width: 30%; */
    height: 50%;
    margin-right: 10%;
}
.l{
    height: 50%;
    margin-right: 10%;
}
.m{
    /* width: 45%; */
    height: 50%;
    margin-right: 10%;
}

.n{
    /* width: 40%; */
    height: 50%;
    margin-right: 10%;
}

.o{
    /* width: 40%; */
    height: 50%;
    margin-right: 10%;
}
.skillz{
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

/* .several-skills{
    color: white;

} */