.bars{
    width: 95%;
    /* float: left; */
    padding: 0;
    text-align: left;
    /* margin-left: -10%; */
    display: flex;
    justify-content: space-between;
}

.icon{
    text-align: center;
}